
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis, .y.axis, .x.label, .y.label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.brush .extent {     /* CSS for brush */
  fill: "gray";
  stroke: #fff;
  fill-opacity: .125;
}
