body {
  font: 12px sans-serif;
  margin: 0px;
}

/* Using padding hack so SVG scales as expected in IE */
#container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 52%;  /* padding uses percentage of container width for aspect ratio = 500 / 960 */
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#info, #tooltip {
  position: absolute;
}

#tooltip {
  visibility: hidden;
  background-color: #D3D3D3;  /* light gray */
  border-style: ridge;
  padding: 5px 5px 5px 5px;
}

#info{
  top: 150px;
  left: 500px;
  font: 40px sans-serif;
}

.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.slider {
  font: 30px sans-serif;
}

.slider .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}
