.button text {
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button rect {
  stroke: #999faa; /* navy 40% */
  stroke-width: 2px;
  fill: url(#gradient1);
}

.button rect:hover, .button rect.pressed {
  fill: url(#dark-gradient1);
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chart .curve {
  fill: none;
  stroke: steelblue;
}

.chart .stripe {
  fill: #ecf2f9;
  stroke: none;
}
.dropdown .dropdown-button {
  /*  fill: steelblue; */
  fill: #ddd;
}

.dropdown .dropdown-button:hover {
  /*  fill: rgb(59, 109, 151); /* steelblue darker(.5) */
  fill: #bbb;
}

.dropdown .dropdown-button.active {
  /*  fill: rgb(49, 91, 126); /* steelblue darker(1) */
  fill: #999;
}

.dropdown .dropdown-button rect {
  stroke: #000;
}

.dropdown text, .dropdown .arrow {
  fill: #000;
  pointer-events: none;
  text-anchor: start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown .menu {
  visibility: hidden;
}

.dropdown .menu.active {
  visibility: visible;
}
.curve.high path, path.high { stroke-dasharray: 3 3; }
.curve.low path, path.low { stroke-dasharray: 3 3; }
.curve.zero-crossing path, path.zero-crossing { stroke: #aaa; stroke-dasharray: 2 2; }

/* horizontal stripes */
.bar {
  fill: #ecf2f9;
  stroke: none;
  pointer-events: none;
}

text {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* custom styles to override defaults (load them last) */

/* horizontal stripes on upper chart */
.chart .stripe {
  fill: #ecf2f9;
}

/* button text size */
.button text {
  font-size: 1.5em;
}
