body {
  font: 12px sans-serif;
}

.title, .subtitle {
  font-size: 2em;
}

.subtitle {
  fill: #cc9900;
}

.x.label {
  font-style: italic;
  font-size: 1.3em;
}

.line {
  fill: none;
  stroke: #cc9900;
  stroke-width: 4px;
}

circle {
  fill: #cc9900;
}

rect {
  fill: none;
  stroke: black;
  stroke-width: 1px;  // half is inside the margin, half is outside
}

.bars {
  fill: #ecf2f9;
  stroke: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
