svg {
  display: block;
}

#myRaster, #myBubbles, #myTimeSeries {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px;
  padding: 0px;
  border-color: #555;
  border-style: solid;
}

.my-custom-form-padding {
    padding-left: 50px;
    padding-right: 50px;
}

#myTimeSeriesForm {
  position: absolute;
  left: 100px;
  top: 30px;
}
