body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chart .curve {
  fill: none;
  stroke: steelblue;
  stroke-width: 3;
}

.chart .stripe {
  fill: #ecf2f9;
  stroke: none;
}
