body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.button rect {
    stroke: #1f628d;
    stroke-width: 2px;
}

.button text {
  font-size: 35px;
  font-family: sans-serif;
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bar {
  fill: rgb(33,108,43);
}

.bar rect.active {
  fill: rgb(77,137,85);  /* 80% */
}

.bar rect.negative {
  fill: rgb(197,81,71);
}

.bar rect.negative.active {
  fill: rgb(209,116,108);  /* 80% */
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tooltip {
  background: rgb(217,215,220); /* FM gray */
}

#background-rect {
  fill: rgb(217,215,220); /* FM gray */
}

#rect-positive {
  fill: rgb(77,137,85); /* 80% tint */
}

#rect-negative {
  fill: rgb(209,116,108); /* 80% tint */
}
