/* custom styles to override defaults (load them last) */

/* horizontal stripes */
.stripe {
  fill: #ecf2f9;
  stroke: none;
}

/* button text size */
.button text {
  font-size: 1.5em;
}

.zero-crossing {
  stroke: #333;
  stroke-dasharray: 5,5;
  fill: none;
}

text {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button text {
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button rect {
  stroke: #999faa; /* navy 40% */
  stroke-width: 2px;
  fill: url(#gradient1);
}
